@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.04%;
    --foreground: 240 10% 3.92%;
    --card: 0 0% 98.04%;
    --card-foreground: 240 10% 3.92%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 240 3.7% 15.88%;
    --primary-foreground: 0 0% 98.04%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 3.7% 15.88%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 3.7% 15.88%;
    --destructive: 0 65.33% 44.12%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5;
  }

  .dark {
    --background: 0 6.25% 6.27%;
    --foreground: 240 4.88% 83.92%;
    --card: 0 0% 9.41%;
    --card-foreground: 240 4.88% 83.92%;
    --popover: 0 6.25% 6.27%;
    --popover-foreground: 240 4.88% 83.92%;
    --primary: 0 0% 98.04%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 240 4.88% 83.92%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 240 4.88% 83.92%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 240 4.88% 83.92%;
    --border: 240 3.7% 15.88%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
